// Ogre overlay scripts
Core/BudgetPanel
{
	zorder 620
	// Stats block
	container BorderPanel(Core/BudgetRoot)
	{
		metrics_mode pixels
		vert_align top
		horz_align middle
		left -70
		top 10
		width 300
		height 78
		material Core/StatsBlockCenter
        	border_size 1 1 1 1
        	border_material Core/StatsBlockBorder
        	border_topleft_uv     0.0000 1.0000 0.0039 0.9961
	    	border_top_uv         0.0039 1.0000 0.9961 0.9961
	    	border_topright_uv    0.9961 1.0000 1.0000 0.9961
	    	border_left_uv        0.0000 0.9961 0.0039 0.0039
	    	border_right_uv       0.9961 0.9961 1.0000 0.0039
	    	border_bottomleft_uv  0.0000 0.0039 0.0039 0.0000
        	border_bottom_uv      0.0039 0.0039 0.9961 0.0000
	    	border_bottomright_uv 0.9961 0.0039 1.0000 0.0000

		container Panel(Core/Budget0)
		{
			metrics_mode pixels
			left 5
			top 18
			width 290
			height 1
			material Core/StatsBreak
		}

		element TextArea(Core/Budget1)
		{
			metrics_mode pixels
			left 5
			top 4
			width 120
			height 30
			font_name BlueHighway
			char_height 16
			colour_top 1 1 0.7
			colour_bottom 1 1 0.7
		}
		element TextArea(Core/Budget2)
		{
			metrics_mode pixels
			left 5
			top 21
			width 120
			height 30
			font_name BlueHighway
			char_height 12
			// caption AVERAGE FPS:
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		element TextArea(Core/Budget3)
		{
			metrics_mode pixels
			left 5
			top 32
			width 120
			height 30
			font_name BlueHighway
			char_height 12
			// caption WORST FPS:
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		element TextArea(Core/Budget4)
		{
			metrics_mode pixels
			left 5
			top 43
			width 120
			height 30
			font_name BlueHighway
			char_height 12
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		element TextArea(Core/Budget5)
		{
			metrics_mode pixels
			left 5
			top 54
			width 120
			height 30
			font_name BlueHighway
			char_height 12
			// caption Windows Memory

			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		element TextArea(Core/Budget6)
		{
			metrics_mode pixels
			left 5
			top 65
			width 120
			height 30
			font_name BlueHighway
			char_height 12
			// caption Heap Memory
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}

	}
}
