[Unit]
Description=Earth Eternal - The Anubian War Daemon
After=network.target
Wants=redis.service

[Service]
Type=simple
PIDFile=/var/run/tawd.pid
ExecStart=/usr/bin/tawd -p /var/run/tawd.pid -c /etc/tawd
ExecStop=/usr/bin/kill -SIGTERM $MAINPID

[Install]
WantedBy=multi-user.target
