[Unit]
Description=Earth Eternal - The Anubian War Daemon
After=network.target

[Service]
Type=forking
PIDFile=/var/run/tawd.pid
WorkingDirectory=/var/lib/tawd
ExecStart=/usr/bin/tawd -d -p /var/run/tawd.pid -c /etc/tawd
ExecStop=/usr/bin/kill -SIGTERM $MAINPID

[Install]
