template container Panel(DefaultSkin/Crafting/RecipeScroll)
{
   metrics_mode pixels
   material DefaultSkin/Crafting/RecipeScroll
}

template container Panel(DefaultSkin/Crafting/ResultMarker)
{
   metrics_mode pixels
   material DefaultSkin/Crafting/ResultMarker
}

template container Panel(DefaultSkin/Crafting/ResultMarkerVertical)
{
   metrics_mode pixels
   material DefaultSkin/Crafting/ResultMarkerVertical
}

template container Panel(DefaultSkin/Crafting/AddMarker)
{
   metrics_mode pixels
   material DefaultSkin/Crafting/AddMarker
}

template container Panel(DefaultSkin/Crafting/DefaultBG)
{
   metrics_mode pixels
   material DefaultSkin/Crafting/DefaultBG
}


