/Debug/
/.metadata/
/.settings/
/Accounts/
/config/
/Characters/
/autom4te.cache/
/Dynamic/
/locasset/
/Petitions/
/scratch/
/VirtualItems/
/ZoneDef/
/m4/
/IGForum/
/Grove/
*.pem
/RegionChat.log
/objects.mk
/Makefile
/libtool
/ImportKeys.txt
/EventLog.log
/ErrorLog.txt
/crash_dump.txt
/configure
/config.status
/config.log
aclocal.m4
/temp
*.log
*.in
*.cproject
*.mk
*.tar.gz
*.autotools
/Audit/
**/*.cnut
**/*.o
**/*.Po
**/**/*.cnut
**/**/*.a
**/**/.doxygen
**/**/.appveyor.yml
**/**/.travis.yml
**/**/.clang-format
**/**/.dirstamp
**/**/Makefile
/Clan/
/Deleted/
/AuctionHouse/
/SessionVars.txt
/ServerConfig.txt
/AccessLog.txt
/ServerLog.txt
/Logs/
/LogConfig.txt
/BACKUP/
/aclocal.m4
/*.txt
/Local.tmp/
/Logs.tmp/
/builddir/
/logs/
/build/
/Tmp/
/HTTPLogs/
/.vscode/
subprojects/zlib-1.2.13/.meson-subproject-wrap-hash.txt
subprojects/zlib-1.2.13/adler32.c
subprojects/zlib-1.2.13/ChangeLog
subprojects/zlib-1.2.13/CMakeLists.txt
subprojects/zlib-1.2.13/compress.c
subprojects/zlib-1.2.13/configure
subprojects/zlib-1.2.13/crc32.c
subprojects/zlib-1.2.13/crc32.h
subprojects/zlib-1.2.13/deflate.c
subprojects/zlib-1.2.13/deflate.h
subprojects/zlib-1.2.13/FAQ
subprojects/zlib-1.2.13/gzclose.c
subprojects/zlib-1.2.13/gzguts.h
subprojects/zlib-1.2.13/gzlib.c
subprojects/zlib-1.2.13/gzread.c
subprojects/zlib-1.2.13/gzwrite.c
subprojects/zlib-1.2.13/INDEX
subprojects/zlib-1.2.13/infback.c
subprojects/zlib-1.2.13/inffast.c
subprojects/zlib-1.2.13/inffast.h
subprojects/zlib-1.2.13/inffixed.h
subprojects/zlib-1.2.13/inflate.c
subprojects/zlib-1.2.13/inflate.h
subprojects/zlib-1.2.13/inftrees.c
subprojects/zlib-1.2.13/inftrees.h
subprojects/zlib-1.2.13/LICENSE
subprojects/zlib-1.2.13/LICENSE.build
subprojects/zlib-1.2.13/make_vms.com
subprojects/zlib-1.2.13/meson_options.txt
subprojects/zlib-1.2.13/meson.build
subprojects/zlib-1.2.13/README
subprojects/zlib-1.2.13/treebuild.xml
subprojects/zlib-1.2.13/trees.c
subprojects/zlib-1.2.13/trees.h
subprojects/zlib-1.2.13/uncompr.c
subprojects/zlib-1.2.13/zconf.h
subprojects/zlib-1.2.13/zconf.h.cmakein
subprojects/zlib-1.2.13/zlib.3
subprojects/zlib-1.2.13/zlib.3.pdf
subprojects/zlib-1.2.13/zlib.h
subprojects/zlib-1.2.13/zlib.map
subprojects/zlib-1.2.13/zlib.pc.cmakein
subprojects/zlib-1.2.13/zlib2ansi
subprojects/zlib-1.2.13/zutil.c
subprojects/zlib-1.2.13/zutil.h
subprojects/zlib-1.2.13/amiga/Makefile.pup
subprojects/zlib-1.2.13/amiga/Makefile.sas
subprojects/zlib-1.2.13/contrib/README.contrib
subprojects/zlib-1.2.13/contrib/ada/buffer_demo.adb
subprojects/zlib-1.2.13/contrib/ada/mtest.adb
subprojects/zlib-1.2.13/contrib/ada/read.adb
subprojects/zlib-1.2.13/contrib/ada/readme.txt
subprojects/zlib-1.2.13/contrib/ada/test.adb
subprojects/zlib-1.2.13/contrib/ada/zlib-streams.adb
subprojects/zlib-1.2.13/contrib/ada/zlib-streams.ads
subprojects/zlib-1.2.13/contrib/ada/zlib-thin.adb
subprojects/zlib-1.2.13/contrib/ada/zlib-thin.ads
subprojects/zlib-1.2.13/contrib/ada/zlib.adb
subprojects/zlib-1.2.13/contrib/ada/zlib.ads
subprojects/zlib-1.2.13/contrib/ada/zlib.gpr
subprojects/zlib-1.2.13/contrib/blast/blast.c
subprojects/zlib-1.2.13/contrib/blast/blast.h
subprojects/zlib-1.2.13/contrib/blast/README
subprojects/zlib-1.2.13/contrib/blast/test.pk
subprojects/zlib-1.2.13/contrib/blast/test.txt
subprojects/zlib-1.2.13/contrib/delphi/readme.txt
subprojects/zlib-1.2.13/contrib/delphi/ZLib.pas
subprojects/zlib-1.2.13/contrib/delphi/ZLibConst.pas
subprojects/zlib-1.2.13/contrib/delphi/zlibd32.mak
subprojects/zlib-1.2.13/contrib/dotzlib/DotZLib.build
subprojects/zlib-1.2.13/contrib/dotzlib/DotZLib.chm
subprojects/zlib-1.2.13/contrib/dotzlib/DotZLib.sln
subprojects/zlib-1.2.13/contrib/dotzlib/LICENSE_1_0.txt
subprojects/zlib-1.2.13/contrib/dotzlib/readme.txt
subprojects/zlib-1.2.13/contrib/dotzlib/DotZLib/AssemblyInfo.cs
subprojects/zlib-1.2.13/contrib/dotzlib/DotZLib/ChecksumImpl.cs
subprojects/zlib-1.2.13/contrib/dotzlib/DotZLib/CircularBuffer.cs
subprojects/zlib-1.2.13/contrib/dotzlib/DotZLib/CodecBase.cs
subprojects/zlib-1.2.13/contrib/dotzlib/DotZLib/Deflater.cs
subprojects/zlib-1.2.13/contrib/dotzlib/DotZLib/DotZLib.cs
subprojects/zlib-1.2.13/contrib/dotzlib/DotZLib/DotZLib.csproj
subprojects/zlib-1.2.13/contrib/dotzlib/DotZLib/GZipStream.cs
subprojects/zlib-1.2.13/contrib/dotzlib/DotZLib/Inflater.cs
subprojects/zlib-1.2.13/contrib/dotzlib/DotZLib/UnitTests.cs
subprojects/zlib-1.2.13/contrib/gcc_gvmat64/gvmat64.S
subprojects/zlib-1.2.13/contrib/infback9/infback9.c
subprojects/zlib-1.2.13/contrib/infback9/infback9.h
subprojects/zlib-1.2.13/contrib/infback9/inffix9.h
subprojects/zlib-1.2.13/contrib/infback9/inflate9.h
subprojects/zlib-1.2.13/contrib/infback9/inftree9.c
subprojects/zlib-1.2.13/contrib/infback9/inftree9.h
subprojects/zlib-1.2.13/contrib/infback9/README
subprojects/zlib-1.2.13/contrib/iostream/test.cpp
subprojects/zlib-1.2.13/contrib/iostream/zfstream.cpp
subprojects/zlib-1.2.13/contrib/iostream/zfstream.h
subprojects/zlib-1.2.13/contrib/iostream2/zstream_test.cpp
subprojects/zlib-1.2.13/contrib/iostream2/zstream.h
subprojects/zlib-1.2.13/contrib/iostream3/README
subprojects/zlib-1.2.13/contrib/iostream3/test.cc
subprojects/zlib-1.2.13/contrib/iostream3/TODO
subprojects/zlib-1.2.13/contrib/iostream3/zfstream.cc
subprojects/zlib-1.2.13/contrib/iostream3/zfstream.h
subprojects/zlib-1.2.13/contrib/minizip/configure.ac
subprojects/zlib-1.2.13/contrib/minizip/crypt.h
subprojects/zlib-1.2.13/contrib/minizip/ioapi.c
subprojects/zlib-1.2.13/contrib/minizip/ioapi.h
subprojects/zlib-1.2.13/contrib/minizip/iowin32.c
subprojects/zlib-1.2.13/contrib/minizip/iowin32.h
subprojects/zlib-1.2.13/contrib/minizip/make_vms.com
subprojects/zlib-1.2.13/contrib/minizip/Makefile.am
subprojects/zlib-1.2.13/contrib/minizip/miniunz.c
subprojects/zlib-1.2.13/contrib/minizip/miniunzip.1
subprojects/zlib-1.2.13/contrib/minizip/minizip.1
subprojects/zlib-1.2.13/contrib/minizip/minizip.c
subprojects/zlib-1.2.13/contrib/minizip/MiniZip64_Changes.txt
subprojects/zlib-1.2.13/contrib/minizip/MiniZip64_info.txt
subprojects/zlib-1.2.13/contrib/minizip/mztools.c
subprojects/zlib-1.2.13/contrib/minizip/mztools.h
subprojects/zlib-1.2.13/contrib/minizip/unzip.c
subprojects/zlib-1.2.13/contrib/minizip/unzip.h
subprojects/zlib-1.2.13/contrib/minizip/zip.c
subprojects/zlib-1.2.13/contrib/minizip/zip.h
subprojects/zlib-1.2.13/contrib/pascal/example.pas
subprojects/zlib-1.2.13/contrib/pascal/readme.txt
subprojects/zlib-1.2.13/contrib/pascal/zlibd32.mak
subprojects/zlib-1.2.13/contrib/pascal/zlibpas.pas
subprojects/zlib-1.2.13/contrib/puff/puff.c
subprojects/zlib-1.2.13/contrib/puff/puff.h
subprojects/zlib-1.2.13/contrib/puff/pufftest.c
subprojects/zlib-1.2.13/contrib/puff/README
subprojects/zlib-1.2.13/contrib/puff/zeros.raw
subprojects/zlib-1.2.13/contrib/testzlib/testzlib.c
subprojects/zlib-1.2.13/contrib/testzlib/testzlib.txt
subprojects/zlib-1.2.13/contrib/untgz/Makefile.msc
subprojects/zlib-1.2.13/contrib/untgz/untgz.c
subprojects/zlib-1.2.13/contrib/vstudio/readme.txt
subprojects/zlib-1.2.13/contrib/vstudio/vc10/miniunz.vcxproj
subprojects/zlib-1.2.13/contrib/vstudio/vc10/miniunz.vcxproj.filters
subprojects/zlib-1.2.13/contrib/vstudio/vc10/minizip.vcxproj
subprojects/zlib-1.2.13/contrib/vstudio/vc10/minizip.vcxproj.filters
subprojects/zlib-1.2.13/contrib/vstudio/vc10/testzlib.vcxproj
subprojects/zlib-1.2.13/contrib/vstudio/vc10/testzlib.vcxproj.filters
subprojects/zlib-1.2.13/contrib/vstudio/vc10/testzlibdll.vcxproj
subprojects/zlib-1.2.13/contrib/vstudio/vc10/testzlibdll.vcxproj.filters
subprojects/zlib-1.2.13/contrib/vstudio/vc10/zlib.rc
subprojects/zlib-1.2.13/contrib/vstudio/vc10/zlibstat.vcxproj
subprojects/zlib-1.2.13/contrib/vstudio/vc10/zlibstat.vcxproj.filters
subprojects/zlib-1.2.13/contrib/vstudio/vc10/zlibvc.def
subprojects/zlib-1.2.13/contrib/vstudio/vc10/zlibvc.sln
subprojects/zlib-1.2.13/contrib/vstudio/vc10/zlibvc.vcxproj
subprojects/zlib-1.2.13/contrib/vstudio/vc10/zlibvc.vcxproj.filters
subprojects/zlib-1.2.13/contrib/vstudio/vc11/miniunz.vcxproj
subprojects/zlib-1.2.13/contrib/vstudio/vc11/minizip.vcxproj
subprojects/zlib-1.2.13/contrib/vstudio/vc11/testzlib.vcxproj
subprojects/zlib-1.2.13/contrib/vstudio/vc11/testzlibdll.vcxproj
subprojects/zlib-1.2.13/contrib/vstudio/vc11/zlib.rc
subprojects/zlib-1.2.13/contrib/vstudio/vc11/zlibstat.vcxproj
subprojects/zlib-1.2.13/contrib/vstudio/vc11/zlibvc.def
subprojects/zlib-1.2.13/contrib/vstudio/vc11/zlibvc.sln
subprojects/zlib-1.2.13/contrib/vstudio/vc11/zlibvc.vcxproj
subprojects/zlib-1.2.13/contrib/vstudio/vc12/miniunz.vcxproj
subprojects/zlib-1.2.13/contrib/vstudio/vc12/minizip.vcxproj
subprojects/zlib-1.2.13/contrib/vstudio/vc12/testzlib.vcxproj
subprojects/zlib-1.2.13/contrib/vstudio/vc12/testzlibdll.vcxproj
subprojects/zlib-1.2.13/contrib/vstudio/vc12/zlib.rc
subprojects/zlib-1.2.13/contrib/vstudio/vc12/zlibstat.vcxproj
subprojects/zlib-1.2.13/contrib/vstudio/vc12/zlibvc.def
subprojects/zlib-1.2.13/contrib/vstudio/vc12/zlibvc.sln
subprojects/zlib-1.2.13/contrib/vstudio/vc12/zlibvc.vcxproj
subprojects/zlib-1.2.13/contrib/vstudio/vc14/miniunz.vcxproj
subprojects/zlib-1.2.13/contrib/vstudio/vc14/minizip.vcxproj
subprojects/zlib-1.2.13/contrib/vstudio/vc14/testzlib.vcxproj
subprojects/zlib-1.2.13/contrib/vstudio/vc14/testzlibdll.vcxproj
subprojects/zlib-1.2.13/contrib/vstudio/vc14/zlib.rc
subprojects/zlib-1.2.13/contrib/vstudio/vc14/zlibstat.vcxproj
subprojects/zlib-1.2.13/contrib/vstudio/vc14/zlibvc.def
subprojects/zlib-1.2.13/contrib/vstudio/vc14/zlibvc.sln
subprojects/zlib-1.2.13/contrib/vstudio/vc14/zlibvc.vcxproj
subprojects/zlib-1.2.13/contrib/vstudio/vc9/miniunz.vcproj
subprojects/zlib-1.2.13/contrib/vstudio/vc9/minizip.vcproj
subprojects/zlib-1.2.13/contrib/vstudio/vc9/testzlib.vcproj
subprojects/zlib-1.2.13/contrib/vstudio/vc9/testzlibdll.vcproj
subprojects/zlib-1.2.13/contrib/vstudio/vc9/zlib.rc
subprojects/zlib-1.2.13/contrib/vstudio/vc9/zlibstat.vcproj
subprojects/zlib-1.2.13/contrib/vstudio/vc9/zlibvc.def
subprojects/zlib-1.2.13/contrib/vstudio/vc9/zlibvc.sln
subprojects/zlib-1.2.13/contrib/vstudio/vc9/zlibvc.vcproj
subprojects/zlib-1.2.13/doc/algorithm.txt
subprojects/zlib-1.2.13/doc/crc-doc.1.0.pdf
subprojects/zlib-1.2.13/doc/rfc1950.txt
subprojects/zlib-1.2.13/doc/rfc1951.txt
subprojects/zlib-1.2.13/doc/rfc1952.txt
subprojects/zlib-1.2.13/doc/txtvsbin.txt
subprojects/zlib-1.2.13/examples/enough.c
subprojects/zlib-1.2.13/examples/fitblk.c
subprojects/zlib-1.2.13/examples/gun.c
subprojects/zlib-1.2.13/examples/gzappend.c
subprojects/zlib-1.2.13/examples/gzjoin.c
subprojects/zlib-1.2.13/examples/gzlog.c
subprojects/zlib-1.2.13/examples/gzlog.h
subprojects/zlib-1.2.13/examples/gznorm.c
subprojects/zlib-1.2.13/examples/README.examples
subprojects/zlib-1.2.13/examples/zlib_how.html
subprojects/zlib-1.2.13/examples/zpipe.c
subprojects/zlib-1.2.13/examples/zran.c
subprojects/zlib-1.2.13/examples/zran.h
subprojects/zlib-1.2.13/msdos/Makefile.bor
subprojects/zlib-1.2.13/msdos/Makefile.dj2
subprojects/zlib-1.2.13/msdos/Makefile.emx
subprojects/zlib-1.2.13/msdos/Makefile.msc
subprojects/zlib-1.2.13/msdos/Makefile.tc
subprojects/zlib-1.2.13/nintendods/README
subprojects/zlib-1.2.13/old/descrip.mms
subprojects/zlib-1.2.13/old/Makefile.emx
subprojects/zlib-1.2.13/old/Makefile.riscos
subprojects/zlib-1.2.13/old/README
subprojects/zlib-1.2.13/old/visual-basic.txt
subprojects/zlib-1.2.13/old/os2/Makefile.os2
subprojects/zlib-1.2.13/old/os2/zlib.def
subprojects/zlib-1.2.13/os400/bndsrc
subprojects/zlib-1.2.13/os400/make.sh
subprojects/zlib-1.2.13/os400/README400
subprojects/zlib-1.2.13/os400/zlib.inc
subprojects/zlib-1.2.13/qnx/package.qpg
subprojects/zlib-1.2.13/test/example.c
subprojects/zlib-1.2.13/test/infcover.c
subprojects/zlib-1.2.13/test/meson.build
subprojects/zlib-1.2.13/test/minigzip.c
subprojects/zlib-1.2.13/watcom/watcom_f.mak
subprojects/zlib-1.2.13/watcom/watcom_l.mak
subprojects/zlib-1.2.13/win32/DLL_FAQ.txt
subprojects/zlib-1.2.13/win32/Makefile.bor
subprojects/zlib-1.2.13/win32/Makefile.gcc
subprojects/zlib-1.2.13/win32/Makefile.msc
subprojects/zlib-1.2.13/win32/README-WIN32.txt
subprojects/zlib-1.2.13/win32/VisualC.txt
subprojects/zlib-1.2.13/win32/zlib.def
subprojects/zlib-1.2.13/win32/zlib1.rc
/Live/
