/EEServer36
/scratch/
/autom4te.cache/
*.log
/configure
/crash_dump.txt
/config.sub
/config.status
/config.guess
/compile
*.m4
/config/
/Makefile
/libtool
*.in
/ServerLog.txt
/SessionVars.txt
/IGForum/
/m4/
*.mk
*.cnut
/temp
/Petitions/
/Characters/
/.settings/
/Accounts/
/asset/
/Dynamic/
*.autotools
*.cproject
/ZoneDef/
/ServerConfig.txt
*.project
/.metadata/
/locasset/
/Grove/
/Debug/
/VirtualItems/
*.pem
/ImportKeys.txt
*.txt
