/Debug/
/.metadata/
/.settings/
/Accounts/
/config/
/Characters/
/autom4te.cache/
/Dynamic/
/locasset/
/Petitions/
/scratch/
/VirtualItems/
/ZoneDef/
/m4/
/IGForum/
/Grove/
*.pem
/RegionChat.log
/objects.mk
/Makefile
/libtool
/ImportKeys.txt
/EventLog.log
/ErrorLog.txt
/crash_dump.txt
/configure
/config.status
/config.log
*.m4
*.txt
/temp
*.log
*.in
*.cproject
*.mk
/asset/
*.autotools
*.txt
/Accounts/
/asset/
/Characters/
/Petitions/
/Dynamic/
/ZoneDef/
