template container Panel(DefaultSkin/LoadScreen)
{
   metrics_mode pixels
   material DefaultSkin/LoadScreen/LoadScreenBG
}
template container Panel(DefaultSkin/ProgressAnimation)
{
	metrics_mode pixels
	material DefaultSkin/ProgressAnimation
}
template container Panel(DefaultSkin/LoadScreen/MainProgressBar)
{
   metrics_mode pixels
   material DefaultSkin/LoadScreen/MainProgressBar
}

template container Panel(DefaultSkin/LoadScreen/MainProgressBar/Mask)
{
   metrics_mode pixels
//   material DefaultSkin/LoadScreen/MainProgressBar/Mask
}

template container Panel(DefaultSkin/LoadScreen/MainProgressBar/Notch)
{
   metrics_mode pixels
//   material DefaultSkin/LoadScreen/MainProgressBar/Notch
}

template container Panel(DefaultSkin/SemiBlack)
{
   metrics_mode pixels
   material DefaultSkin/SemiBlack
}



template container BorderPanel(DefaultSkin/LoadScreen/MainProgressBar/Indicator)
{
    metrics_mode pixels
    material DefaultSkin/LoadScreen/MainProgressBar/Indicator
	border_size 0 610 0 0
	border_material DefaultSkin/LoadScreen/MainProgressBar/Indicator
	border_topleft_uv     0.0000 0.0000 0.0000 0.0000
	border_top_uv         0.0000 0.0000 0.0000 0.0000
	border_topright_uv    0.0000 0.0000 0.0000 0.0000
	border_left_uv        0.0000 0.0000 0.0000 0.0000
	border_right_uv       0.0000 0.0000 1.0000 1.0000
	border_bottomleft_uv  0.0000 0.0000 0.0000 0.0000
	border_bottom_uv      0.0000 0.0000 0.0000 0.0000
	border_bottomright_uv 0.0000 0.0000 0.0000 0.0000
}

template container BorderPanel(DefaultSkin/LoadScreen/MainProgressBar/Remainder)
{
   metrics_mode pixels
   material DefaultSkin/LoadScreen/MainProgressBar/Remainder
   border_size 0 610 0 0
   border_material DefaultSkin/LoadScreen/MainProgressBar/Remainder
   border_topleft_uv     0.0000 0.0000 0.0000 0.0000
	border_top_uv         0.0000 0.0000 0.0000 0.0000
	border_topright_uv    0.0000 0.0000 0.0000 0.0000
	border_left_uv        0.0000 0.0000 0.0000 0.0000
	border_right_uv       0.0000 0.0000 1.0000 1.0000
	border_bottomleft_uv  0.0000 0.0000 0.0000 0.0000
	border_bottom_uv      0.0000 0.0000 0.0000 0.0000
	border_bottomright_uv 0.0000 0.0000 0.0000 0.0000
}

template container Panel(DefaultSkin/LoadScreen/SmallProgressBar)
{
   metrics_mode pixels
   material DefaultSkin/LoadScreen/SmallProgressBar
}

template container Panel(DefaultSkin/LoadScreen/SmallProgressBar/Mask)
{
   metrics_mode pixels
//   material DefaultSkin/LoadScreen/SmallProgressBar/Mask
}

template container Panel(DefaultSkin/LoadScreen/SmallProgressBar/Notch)
{
   metrics_mode pixels
//   material DefaultSkin/LoadScreen/SmallProgressBar/Notch
}

template container BorderPanel(DefaultSkin/LoadScreen/SmallProgressBar/Indicator)
{
    metrics_mode pixels
    material DefaultSkin/LoadScreen/SmallProgressBar/Indicator
	border_size 0 196 0 0
	border_material DefaultSkin/LoadScreen/SmallProgressBar/Indicator
	border_topleft_uv     0.0000 0.0000 0.0000 0.0000
	border_top_uv         0.0000 0.0000 0.0000 0.0000
	border_topright_uv    0.0000 0.0000 0.0000 0.0000
	border_left_uv        0.0000 0.0000 0.0000 0.0000
	border_right_uv       0.0000 0.0000 1.0000 1.0000
	border_bottomleft_uv  0.0000 0.0000 0.0000 0.0000
	border_bottom_uv      0.0000 0.0000 0.0000 0.0000
	border_bottomright_uv 0.0000 0.0000 0.0000 0.0000
}
template container BorderPanel(DefaultSkin/LoadScreen/SmallProgressBar/Remainder)
{
   metrics_mode pixels
   material DefaultSkin/LoadScreen/SmallProgressBar/Remainder
   border_size 0 196 0 0
   border_material DefaultSkin/LoadScreen/SmallProgressBar/Remainder
   border_topleft_uv     0.0000 0.0000 0.0000 0.0000
	border_top_uv         0.0000 0.0000 0.0000 0.0000
	border_topright_uv    0.0000 0.0000 0.0000 0.0000
	border_left_uv        0.0000 0.0000 0.0000 0.0000
	border_right_uv       0.0000 0.0000 1.0000 1.0000
	border_bottomleft_uv  0.0000 0.0000 0.0000 0.0000
	border_bottom_uv      0.0000 0.0000 0.0000 0.0000
	border_bottomright_uv 0.0000 0.0000 0.0000 0.0000
}
template container BorderPanel(DefaultSkin/GoldBorder)
{
	metrics_mode pixels
	top 0
	left 0
	// You must give a panel a size explicitly, it has none by default
	// (And child elements are clipped to the parent's rectangle for
	// event purposes).

	material DefaultSkin/SemiBlack
	border_size 5 5 5 5
	border_material DefaultSkin/GoldBorder
	border_topleft_uv     0.0000 0.0000 0.0195 0.0195
	border_top_uv         0.0195 0.0000 0.9805 0.0195
	border_topright_uv    0.9805 0.0000 1.0000 0.0195
	border_left_uv        0.0000 0.0195 0.0195 0.9805
	border_right_uv       0.9805 0.0195 1.0000 0.9805
	border_bottomleft_uv  0.0000 0.9805 0.0195 1.0000
	border_bottom_uv      0.0195 0.9805 0.9805 1.0000
	border_bottomright_uv 0.9805 0.9805 1.0000 1.0000
}
template container BorderPanel(DefaultSkin/Inventory)
{
	metrics_mode pixels
	top 0
	left 0
	// You must give a panel a size explicitly, it has none by default
	// (And child elements are clipped to the parent's rectangle for
	// event purposes).

	material DefaultSkin/SemiBlack
	border_size 5 5 0 5
	border_material DefaultSkin/GoldBorder
	border_topleft_uv     0.0000 0.0000 0.0195 0.0195
	border_top_uv         0.0195 0.0000 0.9805 0.0195
	border_topright_uv    0.9805 0.0000 1.0000 0.0195
	border_left_uv        0.0000 0.0195 0.0195 0.9805
	border_right_uv       0.9805 0.0195 1.0000 0.9805
	border_bottomleft_uv  0.0000 0.9805 0.0195 1.0000
	border_bottom_uv      0.0195 0.9805 0.9805 1.0000
	border_bottomright_uv 0.9805 0.9805 1.0000 1.0000
}

template container BorderPanel(DefaultSkin/GoldBorderTransparent)
{
	metrics_mode pixels
	top 0
	left 0
	// You must give a panel a size explicitly, it has none by default
	// (And child elements are clipped to the parent's rectangle for
	// event purposes).

	material DefaultSkin/Transparent
	border_size 5 5 5 5
	border_material DefaultSkin/GoldBorder
	border_topleft_uv     0.0000 0.0000 0.0195 0.0195
	border_top_uv         0.0195 0.0000 0.9805 0.0195
	border_topright_uv    0.9805 0.0000 1.0000 0.0195
	border_left_uv        0.0000 0.0195 0.0195 0.9805
	border_right_uv       0.9805 0.0195 1.0000 0.9805
	border_bottomleft_uv  0.0000 0.9805 0.0195 1.0000
	border_bottom_uv      0.0195 0.9805 0.9805 1.0000
	border_bottomright_uv 0.9805 0.9805 1.0000 1.0000
}

template container BorderPanel(DefaultSkin/RedBorder)
{
	metrics_mode pixels
	top 0
	left 0
	// You must give a panel a size explicitly, it has none by default
	// (And child elements are clipped to the parent's rectangle for
	// event purposes).

	material DefaultSkin/Transparent
	border_size 2 2 2 2
	border_material DefaultSkin/RedBorder
	border_topleft_uv     0.0000 0.0000 0.0195 0.0195
	border_top_uv         0.0195 0.0000 0.9805 0.0195
	border_topright_uv    0.9805 0.0000 1.0000 0.0195
	border_left_uv        0.0000 0.0195 0.0195 0.9805
	border_right_uv       0.9805 0.0195 1.0000 0.9805
	border_bottomleft_uv  0.0000 0.9805 0.0195 1.0000
	border_bottom_uv      0.0195 0.9805 0.9805 1.0000
	border_bottomright_uv 0.9805 0.9805 1.0000 1.0000
}
template container BorderPanel(DefaultSkin/WhiteBorder)
{
	metrics_mode pixels
	top 0
	left 0
	// You must give a panel a size explicitly, it has none by default
	// (And child elements are clipped to the parent's rectangle for
	// event purposes).

	material DefaultSkin/Transparent
	border_size 1 1 1 1
	border_material DefaultSkin/WhiteBorder
	border_topleft_uv     0.0000 0.0000 0.0195 0.0195
	border_top_uv         0.0195 0.0000 0.9805 0.0195
	border_topright_uv    0.9805 0.0000 1.0000 0.0195
	border_left_uv        0.0000 0.0195 0.0195 0.9805
	border_right_uv       0.9805 0.0195 1.0000 0.9805
	border_bottomleft_uv  0.0000 0.9805 0.0195 1.0000
	border_bottom_uv      0.0195 0.9805 0.9805 1.0000
	border_bottomright_uv 0.9805 0.9805 1.0000 1.0000
}

template container BorderPanel(DefaultSkin/SilverBorder)
{
	metrics_mode pixels
	top 0
	left 0
	// You must give a panel a size explicitly, it has none by default
	// (And child elements are clipped to the parent's rectangle for
	// event purposes).

	material DefaultSkin/SilverBorderBG
	border_size 2 2 2 2
	border_material DefaultSkin/SilverBorder
	border_topleft_uv     0.0000 0.0000 0.0078 0.0078
	border_top_uv         0.0078 0.0000 0.9921 0.0078
	border_topright_uv    0.9921 0.0000 1.0000 0.0078
	border_left_uv        0.0000 0.0078 0.0078 0.9921
	border_right_uv       0.9921 0.0078 1.0000 0.9921
	border_bottomleft_uv  0.0000 0.9921 0.0078 1.0000
	border_bottom_uv      0.0078 0.9921 0.9921 1.0000
	border_bottomright_uv 0.9921 0.9921 1.0000 1.0000
}

template container BorderPanel(DefaultSkin/SilverBorderTransparent)
{
	metrics_mode pixels
	top 0
	left 0
	// You must give a panel a size explicitly, it has none by default
	// (And child elements are clipped to the parent's rectangle for
	// event purposes).

	material DefaultSkin/Transparent
	border_size 3 3 3 3
	border_material DefaultSkin/SilverBorder
	border_topleft_uv     0.0000 0.0000 0.0078 0.0078
	border_top_uv         0.0078 0.0000 0.9921 0.0078
	border_topright_uv    0.9921 0.0000 1.0000 0.0078
	border_left_uv        0.0000 0.0078 0.0078 0.9921
	border_right_uv       0.9921 0.0078 1.0000 0.9921
	border_bottomleft_uv  0.0000 0.9921 0.0078 1.0000
	border_bottom_uv      0.0078 0.9921 0.9921 1.0000
	border_bottomright_uv 0.9921 0.9921 1.0000 1.0000
}

template container BorderPanel(DefaultSkin/TradeBorder)
{
	metrics_mode pixels
	top 0
	left 0
	// You must give a panel a size explicitly, it has none by default
	// (And child elements are clipped to the parent's rectangle for
	// event purposes).

	material DefaultSkin/SemiBlack
	border_size 5 5 5 5
	border_material DefaultSkin/TradeBorder
	border_topleft_uv     0.0000 0.0000 0.0195 0.0195
	border_top_uv         0.0195 0.0000 0.9805 0.0195
	border_topright_uv    0.9805 0.0000 1.0000 0.0195
	border_left_uv        0.0000 0.0195 0.0195 0.9805
	border_right_uv       0.9805 0.0195 1.0000 0.9805
	border_bottomleft_uv  0.0000 0.9805 0.0195 1.0000
	border_bottom_uv      0.0195 0.9805 0.9805 1.0000
	border_bottomright_uv 0.9805 0.9805 1.0000 1.0000
}


template container BorderPanel(DefaultSkin/PaperBackBorder)
{
	metrics_mode pixels
	top 0
	left 0
	// You must give a panel a size explicitly, it has none by default
	// (And child elements are clipped to the parent's rectangle for
	// event purposes).

	material DefaultSkin/PaperBackOneBG
	border_size 5 5 5 5
	border_material DefaultSkin/PaperBackOne
	border_topleft_uv     0.0000 0.0000 0.0195 0.0195
	border_top_uv         0.0195 0.0000 0.9805 0.0195
	border_topright_uv    0.9805 0.0000 1.0000 0.0195
	border_left_uv        0.0000 0.0195 0.0195 0.9805
	border_right_uv       0.9805 0.0195 1.0000 0.9805
	border_bottomleft_uv  0.0000 0.9805 0.0195 1.0000
	border_bottom_uv      0.0195 0.9805 0.9805 1.0000
	border_bottomright_uv 0.9805 0.9805 1.0000 1.0000
}

template container BorderPanel(DefaultSkin/ThickSilverBorder)
{
	metrics_mode pixels
	top 0
	left 0
	material DefaultSkin/MidBG
	border_size 9 9 9 9
	border_material DefaultSkin/ThickSilverBorder
	border_topleft_uv     0.0000 0.0000 0.0351 0.0351
	border_top_uv         0.0351 0.0000 0.9648 0.0351
	border_topright_uv    0.9648 0.0000 1.0000 0.0351 
	border_left_uv        0.0000 0.0351 0.0351 0.9648
	border_right_uv       0.9648 0.0351 1.0000 0.9648
	border_bottomleft_uv  0.0000 0.9648 0.0351 1.0000
	border_bottom_uv      0.0351 0.9648 0.9648 1.0000
	border_bottomright_uv 0.9648 0.9648 1.0000 1.0000
}

template container BorderPanel(DefaultSkin/GreenGlow)
{
	metrics_mode pixels
	top 0
	left 0
	material DefaultSkin/Transparent
	border_size 9 9 9 9
	border_material DefaultSkin/GreenGlow
	border_topleft_uv     0.0000 0.0000 0.0351 0.0351
	border_top_uv         0.0351 0.0000 0.9648 0.0351
	border_topright_uv    0.9648 0.0000 1.0000 0.0351 
	border_left_uv        0.0000 0.0351 0.0351 0.9648
	border_right_uv       0.9648 0.0351 1.0000 0.9648
	border_bottomleft_uv  0.0000 0.9648 0.0351 1.0000
	border_bottom_uv      0.0351 0.9648 0.9648 1.0000
	border_bottomright_uv 0.9648 0.9648 1.0000 1.0000
}

template container BorderPanel(DefaultSkin/InnerPanel)
{
	metrics_mode pixels
	material DefaultSkin/MidBG
	border_size 2 2 2 2
	border_material DefaultSkin/SilverBorder
	border_topleft_uv     0.0000 0.0000 0.0078 0.0078
	border_top_uv         0.0078 0.0000 0.9921 0.0078
	border_topright_uv    0.9921 0.0000 1.0000 0.0078
	border_left_uv        0.0000 0.0078 0.0078 0.9921
	border_right_uv       0.9921 0.0078 1.0000 0.9921
	border_bottomleft_uv  0.0000 0.9921 0.0078 1.0000
	border_bottom_uv      0.0078 0.9921 0.9921 1.0000
	border_bottomright_uv 0.9921 0.9921 1.0000 1.0000
}

template container BorderPanel(DefaultSkin/FrameTopBar)
{
	metrics_mode pixels
	material DefaultSkin/SemiBlack

	border_size 30 30 2 7
	border_material DefaultSkin/FrameTopBar
	border_topleft_uv     0.0000 0.0000 0.1171 0.0800
	border_top_uv         0.1171 0.0000 0.8828 0.0800
	border_topright_uv    0.8828 0.0000 1.0000 0.0800
	border_left_uv        0.0000 0.0800 0.1171 0.7200
	border_right_uv       0.8828 0.0800 1.0000 0.7200
	border_bottomleft_uv  0.0000 0.7200 0.1171 1.0000
	border_bottom_uv      0.1171 0.7200 0.8828 1.0000
	border_bottomright_uv 0.8828 0.7200 1.0000 1.0000
}

template container BorderPanel(DefaultSkin/FrameTopBarSilver)
{
	metrics_mode pixels
	material DefaultSkin/SemiBlack

	border_size 30 30 2 7
	border_material DefaultSkin/FrameTopBarSilver
	border_topleft_uv     0.0000 0.0000 0.1171 0.0800
	border_top_uv         0.1171 0.0000 0.8828 0.0800
	border_topright_uv    0.8828 0.0000 1.0000 0.0800
	border_left_uv        0.0000 0.0800 0.1171 0.7200
	border_right_uv       0.8828 0.0800 1.0000 0.7200
	border_bottomleft_uv  0.0000 0.7200 0.1171 1.0000
	border_bottom_uv      0.1171 0.7200 0.8828 1.0000
	border_bottomright_uv 0.8828 0.7200 1.0000 1.0000
}

template container BorderPanel(DefaultSkin/GoldBottomFrame)
{
	metrics_mode pixels
	material DefaultSkin/SemiBlack
	border_size 5 5 0 5
	border_material DefaultSkin/GoldBorder
	border_topleft_uv     0.0000 0.0000 0.0000 0.0000
	border_top_uv         0.0000 0.0000 0.0000 0.0000
	border_topright_uv    0.0000 0.0000 0.0000 0.0000
	border_left_uv        0.0000 0.0195 0.0195 0.9805
	border_right_uv       0.9805 0.0195 1.0000 0.9805
	border_bottomleft_uv  0.0000 0.9805 0.0195 1.0000
	border_bottom_uv      0.0195 0.9805 0.9805 1.0000
	border_bottomright_uv 0.9805 0.9805 1.0000 1.0000

}

template container BorderPanel(DefaultSkin/SilverBottomFrame)
{
	metrics_mode pixels
	material DefaultSkin/SilverBorderBG
	border_size 2 2 0 2
	border_material DefaultSkin/SilverBorder
	border_topleft_uv     0.0000 0.0000 0.0000 0.0000
	border_top_uv         0.0000 0.0000 0.0000 0.0000
	border_topright_uv    0.0000 0.0000 0.0000 0.0000
	border_left_uv        0.0000 0.0078 0.0078 0.9921
	border_right_uv       0.9921 0.0078 1.0000 0.9921
	border_bottomleft_uv  0.0000 0.9921 0.0078 1.0000
	border_bottom_uv      0.0078 0.9921 0.9921 1.0000
	border_bottomright_uv 0.9921 0.9921 1.0000 1.0000

}

template container BorderPanel(DefaultSkin/SilverBottomBorder)
{
	metrics_mode pixels
	material DefaultSkin/Transparent
	border_size 0 0 0 2
	border_material DefaultSkin/SilverBorder
	border_topleft_uv     0.0000 0.0000 0.0000 0.0000
	border_top_uv         0.0000 0.0000 0.0000 0.0000
	border_topright_uv    0.0000 0.0000 0.0000 0.0000
	border_left_uv        0.0000 0.0000 0.0000 0.0000
	border_right_uv       0.0000 0.0000 0.0000 0.0000
	border_bottomleft_uv  0.0000 0.0000 0.0078 0.0078
	border_bottom_uv      0.0078 0.0000 0.9921 0.0078
	border_bottomright_uv 0.9921 0.0000 1.0000 0.0078
}


template container BorderPanel(DefaultSkin/SilverTopBorder)
{
	metrics_mode pixels
	material DefaultSkin/Transparent
	border_size 0 0 2 0
	border_material DefaultSkin/SilverBorder
	border_topleft_uv     0.0000 0.9921 0.0078 1.0000
	border_top_uv         0.0078 0.9921 0.9921 1.0000
	border_topright_uv    0.9921 0.9921 1.0000 1.0000
	border_left_uv        0.0000 0.0000 0.0000 0.0000
	border_right_uv       0.0000 0.0000 0.0000 0.0000
	border_bottomleft_uv  0.0000 0.0000 0.0000 0.0000
	border_bottom_uv      0.0000 0.0000 0.0000 0.0000
	border_bottomright_uv 0.0000 0.0000 0.0000 0.0000
}

template container BorderPanel(DefaultSkin/SilverTopFrame)
{
	metrics_mode pixels
	material DefaultSkin/MidBG
	border_size 2 2 2 0
	border_material DefaultSkin/SilverBorder
	border_topleft_uv     0.0000 0.0000 0.0078 0.0078
	border_top_uv         0.0078 0.0000 0.9921 0.0078
	border_topright_uv    0.9921 0.0000 1.0000 0.0078
	border_left_uv        0.0000 0.0078 0.0078 0.9921
	border_right_uv       0.9921 0.0078 1.0000 0.9921
	border_bottomleft_uv  0.0000 0.0000 0.0000 0.0000
	border_bottom_uv      0.0000 0.0000 0.0000 0.0000
	border_bottomright_uv 0.0000 0.0000 0.0000 0.0000
}

template container BorderPanel(DefaultSkin/SilverBottomHalfBorder)
{
	metrics_mode pixels
	material DefaultSkin/Transparent
	border_size 0 0 2 0
	border_material DefaultSkin/SilverBorder
	border_topleft_uv     0.0000 0.9921 0.0078 1.0000
	border_top_uv         0.0078 0.9921 0.9921 1.0000
	border_topright_uv    0.9921 0.9921 1.0000 1.0000
	border_left_uv        0.0000 0.0000 0.0000 0.0000
	border_right_uv       0.0000 0.0000 0.0000 0.0000
	border_bottomleft_uv  0.0000 0.0000 0.0000 0.0000
	border_bottom_uv      0.0000 0.0000 0.0000 0.0000
	border_bottomright_uv 0.0000 0.0000 0.0000 0.0000
}

template container BorderPanel(DefaultSkin/SilverRightBorder)
{
	metrics_mode pixels
	material DefaultSkin/Transparent
	border_size 2 0 0 0
	border_material DefaultSkin/SilverBorder
	border_topleft_uv     0.0000 0.0000 0.0000 0.0000
	border_top_uv         0.0000 0.0000 0.0000 0.0000
	border_topright_uv    0.0000 0.0000 0.0000 0.0000
	border_left_uv        0.0000 0.0078 0.0078 0.9921
	border_right_uv       0.0000 0.0000 0.0000 0.0000
	border_bottomleft_uv  0.0000 0.0000 0.0000 0.0000 
	border_bottom_uv      0.0000 0.0000 0.0000 0.0000 
	border_bottomright_uv 0.0000 0.0000 0.0000 0.0000 
}

template container BorderPanel(DefaultSkin/SilverLeftBorder)
{
	metrics_mode pixels
	material DefaultSkin/Transparent
	border_size 0 2 0 0
	border_material DefaultSkin/SilverBorder
	border_topleft_uv     0.0000 0.0000 0.0000 0.0000
	border_top_uv         0.0000 0.0000 0.0000 0.0000
	border_topright_uv    0.0000 0.0000 0.0000 0.0000
	border_left_uv        0.0000 0.0000 0.0000 0.0000
	border_right_uv       0.9921 0.0078 1.0000 0.9921
	border_bottomleft_uv  0.0000 0.0000 0.0000 0.0000 
	border_bottom_uv      0.0000 0.0000 0.0000 0.0000 
	border_bottomright_uv 0.0000 0.0000 0.0000 0.0000 
}

template container BorderPanel(DefaultSkin/SilverLeftFrame)
{
	metrics_mode pixels
	material DefaultSkin/MidBG
	border_size 0 2 2 2
	border_material DefaultSkin/SilverBorder
	border_topleft_uv     0.0000 0.0000 0.0078 0.0078
	border_top_uv         0.0078 0.0000 0.9921 0.0078
	border_topright_uv    0.9921 0.0000 1.0000 0.0078
	border_left_uv        0.0000 0.0000 0.0000 0.0000 
	border_right_uv       0.9921 0.0078 1.0000 0.9921
	border_bottomleft_uv  0.0000 0.9921 0.0078 1.0000
	border_bottom_uv      0.0078 0.9921 0.9921 1.0000
	border_bottomright_uv 0.9921 0.9921 1.0000 1.0000
}

template container BorderPanel(DefaultSkin/SilverRightFrame)
{
	metrics_mode pixels
	material DefaultSkin/MidBG
	border_size 2 0 2 2
	border_material DefaultSkin/SilverBorder
	border_topleft_uv     0.0000 0.0000 0.0078 0.0078
	border_top_uv         0.0078 0.0000 0.9921 0.0078
	border_topright_uv    0.9921 0.0000 1.0000 0.0078
	border_left_uv        0.0000 0.0078 0.0078 0.9921
	border_right_uv       0.0000 0.0000 0.0000 0.0000 
	border_bottomleft_uv  0.0000 0.9921 0.0078 1.0000
	border_bottom_uv      0.0078 0.9921 0.9921 1.0000
	border_bottomright_uv 0.9921 0.9921 1.0000 1.0000
}


template container BorderPanel(DefaultSkin/Panel)
{
	metrics_mode pixels
	material DefaultSkin/SemiBlack
	border_size 5 5 5 5
	border_material DefaultSkin/GoldBorder
	border_topleft_uv     0.0000 0.0000 0.0195 0.0195
	border_top_uv         0.0195 0.0000 0.9805 0.0195
	border_topright_uv    0.9805 0.0000 1.0000 0.0195
	border_left_uv        0.0000 0.0195 0.0195 0.9805
	border_right_uv       0.9805 0.0195 1.0000 0.9805
	border_bottomleft_uv  0.0000 0.9805 0.0195 1.0000
	border_bottom_uv      0.0195 0.9805 0.9805 1.0000
	border_bottomright_uv 0.9805 0.9805 1.0000 1.0000
}
template container BorderPanel(DefaultSkin/TextInputFields)
{
	metrics_mode pixels
	material DefaultSkin/DarkBackground
	border_size 2 2 2 2
	border_material DefaultSkin/DarkBorder
	border_topleft_uv     0.0000 0.0000 0.0078 0.0078
	border_top_uv         0.0078 0.0000 0.9921 0.0078
	border_topright_uv    0.9921 0.0000 1.0000 0.0078
	border_left_uv        0.0000 0.0078 0.0078 0.9921
	border_right_uv       0.9921 0.0078 1.0000 0.9921
	border_bottomleft_uv  0.0000 0.9921 0.0078 1.0000
	border_bottom_uv      0.0078 0.9921 0.9921 1.0000
	border_bottomright_uv 0.9921 0.9921 1.0000 1.0000
}
template container BorderPanel(DefaultSkin/DarkBorder)
{
	metrics_mode pixels
	material DefaultSkin/DarkBackground
	border_size 2 2 2 2
	border_material DefaultSkin/DarkBorder
	border_topleft_uv     0.0000 0.0000 0.0078 0.0078
	border_top_uv         0.0078 0.0000 0.9921 0.0078
	border_topright_uv    0.9921 0.0000 1.0000 0.0078
	border_left_uv        0.0000 0.0078 0.0078 0.9921
	border_right_uv       0.9921 0.0078 1.0000 0.9921
	border_bottomleft_uv  0.0000 0.9921 0.0078 1.0000
	border_bottom_uv      0.0078 0.9921 0.9921 1.0000
	border_bottomright_uv 0.9921 0.9921 1.0000 1.0000
}
template container BorderPanel(DefaultSkin/DarkBorder/HeadingBar)
{
	metrics_mode pixels
	material DefaultSkin/DarkBackground
	border_size 2 2 2 2
	border_material DefaultSkin/DarkBorder
	border_topleft_uv     0.0000 0.0000 0.0078 0.0078
	border_top_uv         0.0078 0.0000 0.9921 0.0078
	border_topright_uv    0.9921 0.0000 1.0000 0.0078
	border_left_uv        0.0000 0.0078 0.0078 0.9921
	border_right_uv       0.9921 0.0078 1.0000 0.9921
	border_bottomleft_uv  0.0000 0.9921 0.0078 1.0000
	border_bottom_uv      0.0078 0.9921 0.9921 1.0000
	border_bottomright_uv 0.9921 0.9921 1.0000 1.0000
}
template container BorderPanel(DefaultSkin/DarkBorder/HeadingBar/Cell)
{
	metrics_mode pixels
	material DefaultSkin/DarkBackground
	border_size 2 2 2 2
	border_material DefaultSkin/DarkBorder
	border_topleft_uv     0.0000 0.0000 0.0078 0.0078
	border_top_uv         0.0078 0.0000 0.9921 0.0078
	border_topright_uv    0.9921 0.0000 1.0000 0.0078
	border_left_uv        0.0000 0.0078 0.0078 0.9921
	border_right_uv       0.9921 0.0078 1.0000 0.9921
	border_bottomleft_uv  0.0000 0.9921 0.0078 1.0000
	border_bottom_uv      0.0078 0.9921 0.9921 1.0000
	border_bottomright_uv 0.9921 0.9921 1.0000 1.0000
}
template container BorderPanel(DefaultSkin/DarkBorder/DataPane)
{
	metrics_mode pixels
	material DefaultSkin/DarkBackground
	border_size 2 2 2 2
	border_material DefaultSkin/DarkBorder
	border_topleft_uv     0.0000 0.0000 0.0078 0.0078
	border_top_uv         0.0078 0.0000 0.9921 0.0078
	border_topright_uv    0.9921 0.0000 1.0000 0.0078
	border_left_uv        0.0000 0.0078 0.0078 0.9921
	border_right_uv       0.9921 0.0078 1.0000 0.9921
	border_bottomleft_uv  0.0000 0.9921 0.0078 1.0000
	border_bottom_uv      0.0078 0.9921 0.9921 1.0000
	border_bottomright_uv 0.9921 0.9921 1.0000 1.0000
}
template container BorderPanel(DefaultSkin/DarkBorder/Row)
{
	metrics_mode pixels
	material DefaultSkin/DarkBackground
	border_size 2 2 2 2
	border_material DefaultSkin/DarkBorder
	border_topleft_uv     0.0000 0.0000 0.0078 0.0078
	border_top_uv         0.0078 0.0000 0.9921 0.0078
	border_topright_uv    0.9921 0.0000 1.0000 0.0078
	border_left_uv        0.0000 0.0078 0.0078 0.9921
	border_right_uv       0.9921 0.0078 1.0000 0.9921
	border_bottomleft_uv  0.0000 0.9921 0.0078 1.0000
	border_bottom_uv      0.0078 0.9921 0.9921 1.0000
	border_bottomright_uv 0.9921 0.9921 1.0000 1.0000
}
template container BorderPanel(DefaultSkin/DarkBorder/HeadingDivider)
{
	metrics_mode pixels
	material DefaultSkin/DarkBackground
	border_size 2 2 2 2
	border_material DefaultSkin/DarkBorder
	border_topleft_uv     0.0000 0.0000 0.0078 0.0078
	border_top_uv         0.0078 0.0000 0.9921 0.0078
	border_topright_uv    0.9921 0.0000 1.0000 0.0078
	border_left_uv        0.0000 0.0078 0.0078 0.9921
	border_right_uv       0.9921 0.0078 1.0000 0.9921
	border_bottomleft_uv  0.0000 0.9921 0.0078 1.0000
	border_bottom_uv      0.0078 0.9921 0.9921 1.0000
	border_bottomright_uv 0.9921 0.9921 1.0000 1.0000
}
template container BorderPanel(DefaultSkin/PanelTransparent)
{
	metrics_mode pixels
	material DefaultSkin/PanelTransparent
	border_size 5 5 5 5
	border_material DefaultSkin/PanelTransparent
	border_topleft_uv     0.0000 0.0000 0.0195 0.0195
	border_top_uv         0.0195 0.0000 0.9805 0.0195
	border_topright_uv    0.9805 0.0000 1.0000 0.0195
	border_left_uv        0.0000 0.0195 0.0195 0.9805
	border_right_uv       0.9805 0.0195 1.0000 0.9805
	border_bottomleft_uv  0.0000 0.9805 0.0195 1.0000
	border_bottom_uv      0.0195 0.9805 0.9805 1.0000
	border_bottomright_uv 0.9805 0.9805 1.0000 1.0000
}
template container BorderPanel(DefaultSkin/PaperBack)
{
	metrics_mode pixels
	top 0
	left 0
	// You must give a panel a size explicitly, it has none by default
	// (And child elements are clipped to the parent's rectangle for
	// event purposes).
	width 256
	height 256

	material DefaultSkin/PaperBackMid
	border_size 17 17 17 17
	border_material DefaultSkin/PaperBack
	border_topleft_uv     0.0040 0.0041 0.0688 0.0702
	border_top_uv         0.0688 0.0041 0.9271 0.0702
	border_topright_uv    0.9271 0.0041 0.9960 0.0702
	border_left_uv        0.0040 0.0702 0.0688 0.9256
	border_right_uv       0.9271 0.0702 0.9960 0.9256
	border_bottomleft_uv  0.0040 0.9256 0.0688 0.9959
	border_bottom_uv      0.0688 0.9256 0.9271 0.9959
	border_bottomright_uv 0.9271 0.9256 0.9960 0.9959
}
template container Panel(DefaultSkin/Container)
{
   metrics_mode pixels
}

template container Panel(DefaultSkin/Container/Selection)
{
  	metrics_mode pixels
	material DefaultSkin/Selection
}

template element TextArea(DefaultSkin/Label)
{
   metrics_mode pixels
   font_name Maiandra_8
   char_height 16
   colour 1.0 1.0 0.6
}
template container Panel(DefaultSkin/Link)
{
   metrics_mode pixels
}

template container Panel(DefaultSkin/MiniMap/Stickers/Base)
{
   metrics_mode pixels
   material DefaultSkin/MiniMap/Stickers/Base
}
template container Panel(DefaultSkin/EELogo)
{
   metrics_mode pixels
   material DefaultSkin/EELogo
}
template container Panel(DefaultSkin/EELogo/Glow)
{
   metrics_mode pixels
   material DefaultSkin/EELogo/Glow
}
template container Panel(DefaultSkin/EELogo/New)
{
   metrics_mode pixels
   material DefaultSkin/EELogo/New
}
template container Panel(DefaultSkin/Cursor)
{
   metrics_mode pixels
   material DefaultSkin/Cursor
}
template container Panel(DefaultSkin/SmallCursor)
{
   metrics_mode pixels
   material DefaultSkin/SmallCursor
}
template container Panel(DefaultSkin/Cursor/Secondary)
{
   metrics_mode pixels
   material DefaultSkin/Cursor/Drag
}
template container Panel(DefaultSkin/DruidClass)
{
   metrics_mode pixels
   material DefaultSkin/DruidClass
}
template container Panel(DefaultSkin/MageClass)
{
   metrics_mode pixels
   material DefaultSkin/MageClass
}
template container Panel(DefaultSkin/RogueClass)
{
   metrics_mode pixels
   material DefaultSkin/RogueClass
}
template container Panel(DefaultSkin/KnightClass)
{
   metrics_mode pixels
   material DefaultSkin/KnightClass
}
template container Panel(DefaultSkin/SelectGlowClass)
{
   metrics_mode pixels
   material DefaultSkin/SelectGlowClass
}

template container BorderPanel(DefaultSkin/HSliderBar)
{
    	metrics_mode pixels
	material DefaultSkin/HSliderBar
	uv_coords 0.0247 0 0.9752 1.0

	border_size 10 10 0 0
	border_material DefaultSkin/HSliderBar
	border_topleft_uv     0.0000 0.0000 0.0000 0.0000
	border_top_uv         0.0000 0.0000 0.0000 0.0000
	border_topright_uv    0.0000 0.0000 0.0000 0.0000
	border_left_uv        0.0000 0.0000 0.0247 1.0000
	border_right_uv       0.9752 0.0000 1.0000 1.0000
	border_bottomleft_uv  0.0000 0.0000 0.0000 0.0000
	border_bottom_uv      0.0000 0.0000 0.0000 0.0000
	border_bottomright_uv 0.0000 0.0000 0.0000 0.0000
}

template container BorderPanel(DefaultSkin/VSliderBar)
{
	metrics_mode pixels
	material DefaultSkin/SliderBar
	uv_coords 0 0.0507 1 0.9365

	border_size 0 0 17 17
	border_material DefaultSkin/SliderBar
	border_topleft_uv     0.0000 0.0000 0.0000 0.0000
	border_top_uv         0.0000 0.0000 1.0000 0.0507
	border_topright_uv    0.0000 0.0000 0.0000 0.0000
	border_left_uv        0.0000 0.0000 0.0000 0.0000
	border_right_uv       0.0000 0.0000 0.0000 0.0000
	border_bottomleft_uv  0.0000 0.0000 0.0000 0.0000
	border_bottom_uv      0.0000 0.9365 1.0000 1.0000
	border_bottomright_uv 0.0000 0.0000 0.0000 0.0000
	
}

template container Panel(DefaultSkin/SliderNub)
{
   metrics_mode pixels
   material DefaultSkin/SliderNub
}


template container BorderPanel(DefaultSkin/BigFrameTitleBar)
{
	metrics_mode pixels
	material DefaultSkin/TopBigFrame
	uv_coords 0.15780 0 0.8421 1.0

	border_size 60 60 0 0
	border_material DefaultSkin/TopBigFrame
	border_topleft_uv     0.0000 0.0000 0.0000 0.0000
	border_top_uv         0.0000 0.0000 0.0000 0.0000
	border_topright_uv    0.0000 0.0000 0.0000 0.0000
	border_left_uv        0.0000 0.0000 0.1578 1.0000
	border_right_uv       0.8421 0.0000 1.0000 1.0000
	border_bottomleft_uv  0.0000 0.0000 0.0000 0.0000
	border_bottom_uv      0.0000 0.0000 0.0000 0.0000
	border_bottomright_uv 0.0000 0.0000 0.0000 0.0000
}

template container BorderPanel(DefaultSkin/ActionSlotImage)
{
	metrics_mode pixels
	material DefaultSkin/ItemContainer
	uv_coords 0.2056 0 0.9677 1.0

	border_size 44 7 0 0
	border_material DefaultSkin/ItemContainer
	border_topleft_uv     0.0000 0.0000 0.0000 0.0000
	border_top_uv         0.0000 0.0000 0.0000 0.0000
	border_topright_uv    0.0000 0.0000 0.0000 0.0000
	border_left_uv        0.0000 0.0000 0.2056 1.0000
	border_right_uv       0.9677 0.0000 1.0000 1.0000
	border_bottomleft_uv  0.0000 0.0000 0.0000 0.0000
	border_bottom_uv      0.0000 0.0000 0.0000 0.0000
	border_bottomright_uv 0.0000 0.0000 0.0000 0.0000
}


template container BorderPanel(DefaultSkin/VaultTop)
{
	metrics_mode pixels
	material DefaultSkin/VaultTop
	uv_coords 0.15780 0 0.8421 1.0

	border_size 60 60 0 0
	border_material DefaultSkin/VaultTop
	border_topleft_uv     0.0000 0.0000 0.0000 0.0000
	border_top_uv         0.0000 0.0000 0.0000 0.0000
	border_topright_uv    0.0000 0.0000 0.0000 0.0000
	border_left_uv        0.0000 0.0000 0.1578 1.0000
	border_right_uv       0.8421 0.0000 1.0000 1.0000
	border_bottomleft_uv  0.0000 0.0000 0.0000 0.0000
	border_bottom_uv      0.0000 0.0000 0.0000 0.0000
	border_bottomright_uv 0.0000 0.0000 0.0000 0.0000
}


template container BorderPanel(DefaultSkin/VaultSides)
{
	metrics_mode pixels
	top 0
	left 0
	// You must give a panel a size explicitly, it has none by default
	// (And child elements are clipped to the parent's rectangle for
	// event purposes).

	material DefaultSkin/SemiBlack
	border_size 5 5 5 5
	border_material DefaultSkin/SilverBorder
	border_topleft_uv     0.0000 0.0000 0.0195 0.0195
	border_top_uv         0.0195 0.0000 0.9805 0.0195
	border_topright_uv    0.9805 0.0000 1.0000 0.0195
	border_left_uv        0.0000 0.0195 0.0195 0.9805
	border_right_uv       0.9805 0.0195 1.0000 0.9805
	border_bottomleft_uv  0.0000 0.9805 0.0195 1.0000
	border_bottom_uv      0.0195 0.9805 0.9805 1.0000
	border_bottomright_uv 0.9805 0.9805 1.0000 1.0000
}

template container Panel(DefaultSkin/VaultImage)
{
	metrics_mode pixels
	material DefaultSkin/VaultImage
}

template container BorderPanel(DefaultSkin/PurchaseBorder)
{
 	metrics_mode pixels
 	top 0
 	left 0
 	// You must give a panel a size explicitly, it has none by default
	// (And child elements are clipped to the parent's rectangle for
	// event purposes).

 	material DefaultSkin/DarkBackground
 	border_size 82 84 63 63
 	border_material DefaultSkin/PurchaseBorder
	border_topleft_uv     0.0000 0.0000 0.1900 0.1500
	border_top_uv         0.1900 0.0000 0.8050 0.1500
 	border_topright_uv    0.8050 0.0000 1.0000 0.1500
	border_left_uv        0.0000 0.1500 0.1900 0.8500
 	border_right_uv       0.8050 0.1500 1.0000 0.8500
 	border_bottomleft_uv  0.0000 0.8500 0.1900 1.0000
 	border_bottom_uv      0.1900 0.8500 0.8050 1.0000
 	border_bottomright_uv 0.8050 0.8500 1.0000 1.0000
}