GUI/BuffDebuffOverlay
{
	zorder 8
}
GUI/NameOverlay
{
	zorder 10
}
GUI/QuestTracker
{
	zorder 11
}
GUI/DebugScreen
{
	zorder 11
}

GUI/MiniMap
{
	zorder 11
}

GUI/SpecialPurchaseOffer
{
	zorder 12
}

GUI/TargetOverlay
{
	zorder 14
}

GUI/ChatBubbleOverlay
{
	zorder 20
}
GUI/ChatOverlay
{
	zorder 20
}

GUI/ChatWindowOverlay
{
	zorder 30
}

GUI/MainUIOverlay
{
	zorder 32
}

GUI/QuickBarOverlay
{
	zorder 35
}

GUI/PartyOverlay
{
	zorder 36
}

GUI/Overlay
{
	zorder 100
}
GUI/Overlay2
{
	zorder 105
}
GUI/Overlay3
{
	zorder 110
}
GUI/Overlay4
{
	zorder 115
}
GUI/Overlay5
{
	zorder 120
}
GUI/FullScreenComponentOverlay
{
	zorder 599
}
GUI/ConfirmationOverlay
{
	zorder 600
}
GUI/TutorialOverlay
{
	zorder 603
}
GUI/BugReportOverlay
{
	zorder 604
}
GUI/PopupOverlay
{
	zorder 605
}
GUI/RolloutOverlay
{
	zorder 606
}
GUI/TooltipOverlay
{
	zorder 607
}
GUI/DragOverlay
{
	zorder 608
}
GUI/CursorOverlay
{
	zorder 609
}
GUI/IGISOverlay
{
	zorder 610
}
GUI/LoadScreen
{
	zorder 611
}
GUI/EditBorderOverlay
{
	zorder 612
}
GUI/QueueScreen
{
	zorder 614
}
GUI/SelectionBox
{
	zorder 5
}

template container Panel(GUI/AreaDebug)
{
   metrics_mode pixels
   material GUI/AreaDebug
}

